@page "/"

@inject IJSRuntime _jsRuntime;

<h1>Welcome stranger! Care for a game of blackjack?</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <NavLink class="nav-link" href="blackjack">
                <h3>Blackjack</h3>
                <img class="img-fluid" src="images/blackjack-bookmark.png" />
            </NavLink>
        </div>
    </div>
</div>
