@page "/"

@inject IJSRuntime _jsRuntime;

<PageTitle Title="Welcome, stranger!" />


<h2>
    The Games
</h2>


<div class="container">
    <div class="row">
        <div class="col">
            <NavLink class="nav-link" href="tictactoe">
                <h3>Tic Tac Toe</h3>
                <img class="img-fluid" src="images/tictactoe/tictactoe-bookmark.png" />
            </NavLink>
        </div>
        <div class="col">
            <NavLink class="nav-link" href="connectfour">
                <h3>ConnectFour</h3>
                <img class="img-fluid" src="images/connectfour/connectfour-bookmark.png" />
            </NavLink>
        </div>
        <div class="col">
            <NavLink class="nav-link" href="minesweeper">
                <h3>Minesweeper</h3>
                <img class="img-fluid" src="images/minesweeper/minesweeper-bookmark.png" />
            </NavLink>
        </div>
        <div class="col">
            <NavLink class="nav-link" href="yahtzee">
                <h3>Yahtzee</h3>
                <img class="img-fluid" src="images/yahtzee/yahtzee-bookmark.png" />
            </NavLink>
        </div>
        <div class="col">
            <NavLink class="nav-link" href="gameoflife">
                <h3>Conway's Game of Life</h3>
                <img class="img-fluid" src="images/gameoflife/gameoflife-bookmark.png" />
            </NavLink>
        </div>
        <div class="col">
            <NavLink class="nav-link" href="blackjack">
                <h3>Blackjack</h3>
                <img class="img-fluid" src="images/blackjack/blackjack-bookmark.png" />
            </NavLink>
        </div>
    </div>
</div>